* {
  font-family: "Comfortaa", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  height: 100px;
  background-color: #864127;
  color: white;
  padding: 20px clamp(16px, 5vw, 100px);
}

.navig {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 20px;
}

nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.auth {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
}

a {
  color: white;
  text-decoration: none;
}

a.link:hover {
  color: #ffe4c4;
  text-decoration: none;
}

header h1 {
  font-family: "Caveat", cursive;
  font-weight: 700;
  font-size: 50px;
  color: #EAB985;
}

button {
  width: 100px;
  height: 50px;
  font-size: 16px;
  border-radius: 30px;
}

.login-button {
  border: 2px solid #EAB985;
  background-color: #864127;
  color: #EAB985;
}

.signup-button {
  border: 2px solid;
  background-color: #EAB985;
  color: #864127;
}

.signup-button:hover {
  background-color: #ffe4c4;
}

.login-button:hover {
  border-color: #ffe4c4;
  color: #ffe4c4;
}

.container {
  display: flex; 
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  width: 100%;
  gap: 50px;
}

.block {
  display: flex;
  width: 90%;
  min-height: 500px;        
  border-radius: 30px;
  background-color: #EAB985;
  overflow: hidden;
  flex-wrap: wrap;
}

.block .text {
  text-align: center;
}

.block img {
  flex: 1 1 300px;
  width: 50%;
  min-width: 300px;
  object-fit: cover;
  height: auto;
}

.block .text {
  flex: 1 1 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.block p {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.block h1 {
  font-family: "Caveat", cursive;
  color: #864127;
  font-weight: 700;
  font-size: 40px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  width: 100%;
  background-color: #864127;
  color: white;
  padding: 50px clamp(16px, 5vw, 100px);
}

footer div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}